.pp {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: gainsboro;
  border: 1px solid rgb(214, 209, 209);
  position: relative;
  margin-left: 37%;
  border: 1px solid rgb(236, 233, 233);
  z-index: 2000;
  padding: 2px;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 0px 6px rgb(196, 193, 193);
  background: white;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 60%;
}
.pp img {
  position: relative;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  opacity: 0.7;
}
.manu {
  padding: 4px;
  color: gray;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5px;
  position: relative;
  text-align: center;
}
.subtitle {
  font-weight: 400;
  font-size: 0.875rem;
  color: #8fa8ba;
  margin: 0;
}
.title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}
.divider {
  width: 100%;
  padding: 60px;
  border: 1px solid rgb(243, 240, 240);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 11;
  background: rgb(247, 243, 243);
}
.manu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul li {
  display: inline;
  padding: 10px;
  font-size: 18px;
}
img {
  width: 25px;
  height: 25px;
}
ul li:hover {
  background: green;
}
