/* You can add global styles to this file, and also import other style files */
html body {
  background-color: aliceblue;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background: #fff;
  text-align: left;
  font-family: Arial,"Open Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #333;
}

