@import "../../../../../styles/common/variables";



.autocomplete__options a  {
  text-align: left
}
.autocomplete__options a.push_right {
  text-align: right !important;
}
.autocomplete__options a.push_left{
  text-align: left !important;
}
.autocomplete__title-icon ::ng-deep .spinner-svg {
  width: 25px;
  margin-top: -3px;

}
.autocomplete__title-icon.spinnerActive {
  right: 10px;
}
.autocomplete__placeholder.hasIcon {
  padding-left: 35px !important;
}

.autocomplete__placeholder.alignToRight{
  text-align: right;
  padding-right: 44px;
}

input.autocomplete__placeholder::-webkit-input-placeholder { text-align:left; }

input.autocomplete__placeholder:-ms-input-placeholder{ text-align:left; }

